html {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}

pre {
  background: black;
  color: lightgray;
  padding: 8px;
  white-space: pre-wrap;
  word-break: break-all;
}

form {
  width: 100%;
  display: flex;
  flex-flow: space-between;
  align-items: stretch;
}

form input {
  flex: 1;
  margin-right: 8px;
}

input[type="url"], button {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

button {
  background-color: #f0f0f0;
  border: 1px solid gray;
}

/* http://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.downloads {
  padding-left: 0;
}

.downloads > li {
  display: grid;
  grid-template-columns: 100px auto 240px;
  grid-template-rows: auto;
  grid-template-areas: "status details thumbnail"
                       "output output output"
                       "actions actions actions";
  border-bottom: 1px dotted gray;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.downloads > li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.downloads .status {
  grid-area: status;
}

.downloads .details {
  grid-area: details;
}

.downloads .thumbnail {
  grid-area: thumbnail;
}

.downloads .thumbnail img {
  display: block;
  width: 240px;
  -webkit-filter: grayscale(1);
}

.downloads .output {
  grid-area: output;
  margin-top: 1em;
}

.downloads ul.actions {
  grid-area: actions;
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
}

.downloads ul.actions li {
  display: inline;
  margin-right: 8px;
}

.downloads ul.actions li:last-child {
  margin-right: 0;
}
